<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/petclinic.css}" type="text/css" rel="stylesheet" />
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<table>
		<thead>
			<tr style="font-weight: bold;" bgcolor="lightgreen">
				<td>ID</td>
				<td>First Name</td>
				<td>Last Name</td>
			</tr>
		</thead>
		<th:block th:each="owner,iterStat:${owners}">
			<tr th:bgcolor="${iterStat.odd}?white:lightgray">
				<td th:text="${owner.id}" />
				<td th:text="${owner.firstName}" />
				<td th:text="${owner.lastName}" />
			</tr>
		</th:block>
	</table>
</body>
</html>